@{
    ViewData["Title"] = "Tenant Clients";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>You have no Xero Practice Manager organisations connected</p>
    @Html.ActionLink("Connect an organisation", "AddConnection", "Home")
</div>
